/* Seed input */
.seed-container
{
    text-align: center;
    margin-bottom: 2vh;
}

#seedInput
{
    width: 200px;
    padding: 6px;
}

/* "My Pass Card" title */
.title
{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2vh;
}

/* the bubbles grid */
.grid-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; /* Set container height to cover the viewport */
}

/* Add styles for the input field and buttons container */
.input-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh; /* Add spacing from the bubbles grid */
}

#inputField
{
    width: 200px;
    margin-bottom: 10px; /* Add spacing between input and buttons row */
    padding: 6px; /* Add some padding to the input field */
    border: 1px solid #ccc; /* Add a border to the input field */
}

/* Add styles for the buttons "clear" and "copy to clipboard" */
.buttons-row
{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}
#clearButton,
#copyButton
{
    padding: 6px 12px;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 0 5px; /* Add spacing between buttons */
}

/* Add styles for the buttons "print card to pdf" */
#buttonContainer
{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

#printToPdfButton
{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#printToPdfButton:hover
{
    background-color: #0056b3;
}

/* Reset default margin and padding for bubbles */
.bubble
{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* Hover effect */
.bubble:hover
{
    background-color: #2980b9;
    transform: scale(1.1);
    color: white;
    user-select: none;
}

/* Style for the special bubble */
.special-bubble {
    background-color: #188666 !important;
    color: black !important;
}

/* did the copy message */
#copyMessage
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

/* line effect */
.line-canvas
{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: rgb(99, 1, 1);
}

/* Style for the landscape message */
.landscape-message
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    z-index: 9999; /* Ensure it's on top of other content */
}

/* Show the landscape message only on mobile devices in landscape mode */
@media (max-width: 767px) and (orientation: landscape)
{
    .landscape-message
    {
        display: block;
    }
}

/* Style for the modal explanation text */
.modal
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content
{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}

/* Style for the "Start Passcard" button */
.modal-content button
{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; /* Add space between text and button */
}

.modal-content button:hover
{
    background-color: #0056b3;
}

/* Style for the modal title */
.modal-title
{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px; /* Add space between title and content */
    text-align: center;
}